* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

hr {
    border: none;
    color: #E8E8E8;
    background-color: #E8E8E8;
    height: 1px;
}

header {
    margin: 0;
    padding: 0;
    height: 9.25rem;
    width: 100%;
}

.header__head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.head__wrapper {
    display: flex;
    flex-direction: row;
}

.head__logo {
    height: auto;
    width: 4.55vw;
}

.head__title {
    font-size: 1.04vw;
    font-weight: 500;
}

.head__desc {
    font-size: 0.72vw;
    font-weight: 400;
    color: #727272;
}

.head__layer {
    padding: 0.83vw;
}

.head__social {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    gap: 0.83vw;
}

.social__icon {
    height: auto;
    width: 1.87vw;
}

.navbar {
    padding-top: .65vw;
    padding-left: 13.8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.83vw;
    align-content: center;
}

.navbar-layout {
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    gap: 2.76vw;
}

.navbar__menu a {
    text-decoration: none;
    font-weight: 600;
    color: #363636;
}

.navbar__icons{
    margin: auto 0;
    display: flex;
    flex-direction: row;
    gap: 1.66vw;
}

.content {
    margin: 1.51vw auto;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;

}

.navigation-menu {
    min-width: 12.5VW;
    height: 21.92vw;
    justify-content: center;
    border: 0.05vw #E8E8E8 solid;
    border-radius: 0 0.41vw 0.41vw 0;
    font-size: 0.83vw;
    background-color: #F8F8F8;
}

.navigation-menu > div {
    padding: 1.04vw;
    background-color: #F8F8F8;
    -webkit-box-decoration-break: unset;
}

.navigation-menu > div > a {
    background-color: #F8F8F8;
}

.main,
.main > a{
    background-color: #E9E7E7 !important;
    font-weight: 600;
}

.filling {
    margin-top: 1.66vw;
    display: flex;
    flex-direction: row;
    gap: 2.91vw;
}

.head_of_administration_filling {
    display: flex;
    flex-direction: row;
    margin-top: 1.19vw;
    line-height: 160%;
}

.head_of_administration_filling_text {
    padding-left: 1.375rem;
    margin-bottom: 2rem;
}

.head_of_administration_filling_text > p {
    font-style: italic;
    color: #666666;
    margin-top: 5px;
}

.head_of_administration_filling_text > h4 {
    margin: 0.9375rem 0 0.9375rem 0;
}

.biografy {
    margin-bottom: 2rem;
}

.powers {
    margin-bottom: 2rem;
}

.biografy > h3,
.powers > h3 {
    margin: 0.9375rem 0 0.9375rem 0;
    color: #666666;
}

.biografy > p,
.powers > p{
    margin-top: 0.52vw;
    line-height: 160%;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #972426;
    width: 100%;
    height: 17.29vw;
    color: #ffffff;
}

.footer__layout {
    display: flex;
    flex-direction: column;
    background-color: #972426;
    height: 17.29vw;
    color: #ffffff;
}

.container {
    margin: 0 auto;
    width: 72.91rem;
}

.footer__wrapper {
    padding: 1.77vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer__layer {
    padding-left: 1.77vw;
    display: flex;
    flex-direction: column;
}

.footer__title {
    display: flex;
    flex-direction: row;
    font-size: 1.04vw;
    font-weight: 500;
}

.footer__desc {
    font-size: 0.72vw;
    font-weight: 300;
}

.footer__navbar {
    display: flex;
    flex-direction: row;
    gap: 2.6vw;
}

.footer__navbar a {
    text-decoration: none;
    color: white;
}

.navbar__item {
    display: flex;
    flex-direction: column;
    gap: 1.04vw;
    font-size: 0.83vw;
    font-weight: 500;
}

.footer__foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 18.43vw;
    background-color: #972426;
    font-size: 0.78vw;
}

.foot__location {
    display: flex;
    flex-direction: row;
}

.foot__copyright {
    align: right;
}

.location__address,
.location__number {
    display: flex;
    flex-direction: row;
}

.footer__layout hr {
    width: 100%;
}

.foot__wrapper,
.layout__wrapper {
    width: 100%;
    background-color: #972426;
}

